@import 'harmoware-vis/scss/harmoware.scss';
body {
  @extend body;
  color: black;
  background: white;
  a {
    color: black;
  }
  a:hover {
    color: black;
  }
}
body.body_linen {
  @extend body;
  color: darkslategrey;
  background: linen;
  a {
    color: darkslategrey;
  }
  a:hover {
    color: darkslategrey;
  }
}

div.harmovis_controller {
  @extend .harmovis_controller;
  div.harmovis_input_button_column {
    @extend .harmovis_input_button_column;
    label.label_red {
      @extend label;
      @extend .harmovis_button_1;
    }
    label.label_blue {
      @extend label;
      @extend .harmovis_button_2;
    }
  }
}

label.harmovis_button_1 {
  @extend .harmovis_button;
  background: darkred;
  box-shadow: 0px;
  &:hover {
    background: red;
  }
}

label.harmovis_button_2 {
  @extend .harmovis_button;
  background: navy;
  box-shadow: 0px;
  &:hover {
    background: blue;
  }
}
